@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #fff;
}

a[href^=tel]{
    color: #fff;
    text-decoration: none;
}

@keyframes fadeinHero {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.subhero {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
}

.title {
    font-family: 'Broadway', cursive;
    position: relative;
    top: 200px;
    left: 750px;
    width: 500px;
    font-size: 60pt;
    text-align: center;
    animation: fadeinTitle 4s;
}

@keyframes fadeinTitle {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100%   { opacity: 1; }
}

.subtitle {
    font-size: 30pt;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 1200px){
    .title {
        left: 80px;
    }
}

@media only screen and (max-width: 900px){
    .title {
        left: 0;
    }
}

.socials {
    width: 600px;
    height: 32px;
    position: relative;
    text-align: center;
    top: 350px;
    left: 30px;
}

@media only screen and (max-width: 1200px){
    .socials {
        left: 80px;
    }
}

@media only screen and (max-width: 900px){
    .socials {
        left: 0;
    }
}

.socials a {
    display: inline-block;
    height: 32px;
    width: 50px;
    margin: 0 20px;
    transition: all 0.3s linear;
}

.s1 {
    animation: fadeinS1 4.5s;
    color: white;
}

.s2 {
    animation: fadeinS2 4.5s;
    color: white;
}

.s3 {
    animation: fadeinS3 4.5s;
    color: white;
}

.s4 {
    animation: fadeinS4 4.5s;
    color: white;
    padding-left: 10px;
}


@keyframes fadeinS1 {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes fadeinS2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes fadeinS3 {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes fadeinS4 {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%   { opacity: 1; }
}

.s1:hover {
    color: blue;
}

.s2:hover {
   color: red;
}

.s3:hover {
    color: deeppink;
}

.s4:hover {
    color: dodgerblue;
}

.s5:hover {
    color: yellow;
}

.phone {
    width: 600px;
    height: 32px;
    position: relative;
    text-align: center;
    top: 420px;
    left: 1200px;
    font-family: 'Open Sans', sans-serif, cursive;
    font-size: 32pt;
    letter-spacing: 2px;
    animation: fadeinPhone 4.5s;
}

@keyframes fadeinPhone {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100%   { opacity: 1; }
}

@media only screen and (max-width: 1200px){
    .phone {
        left: 80px;
    }
}

@media only screen and (max-width: 900px){
    .phone {
        left: 0;
    }
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.5);
    z-index: 99999;
}